[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/VenkatBramhasani
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/VenkatBramhasani
	label-Verified = -1..+1 group user/VenkatBramhasani
	push = group user/VenkatBramhasani
	read = group user/VenkatBramhasani
	rebase = group user/VenkatBramhasani
	removeReviewer = group user/VenkatBramhasani
	submit = group user/VenkatBramhasani
[access "refs/heads/*"]
	create = group user/VenkatBramhasani
	push = +force group user/VenkatBramhasani
	pushMerge = group user/VenkatBramhasani
	read = group user/VenkatBramhasani
[access "refs/tags/*"]
	push = group user/VenkatBramhasani
	push = +force group user/VenkatBramhasani
